#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../imagens/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../imagens/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }


body {
 	font-family:calibri,arial;
	/**background: #606060 url("imagens/fundo.jpg") fixed;*/
	background-color:#99c2ff;
	}

.conteudo
{
	background-color:#ffffff;
}		
	
path_pg{
	font-family:Verdana, Geneva, sans-serif;
	font-size:7pt;
	font-style:italic;
	color: #666;
	}

.legenda {
	font-size:10px;
	color:#ff3333
	}

.lnk {
	font-size:15px;
	color:#FF0000;
	text-decoration:none;
	}

a:hover.lnk {
text-decoration:underline;
}	

a:hover.lnk_menu {
text-decoration:underline;
}	

.menu {
	width:780;
	padding-top:7px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:7px;
	valign:top;
	text-align:center;
	font-weight:bold;	
	background-color:#900000;
	border:solid 1px #000000;
	}
	
.lnk_menu{
	font-size:15px;
 	color:#0000ff;
 	text-decoration:none;
	text-align:center;
	}

a:hover.lnk_menu {
	color:#0000FF;
	}

.lnk_topo{
 	color:#ffffff;
 	text-decoration:none;
	text-align:center;
	}
	
.lnk_topo_suporte{
 	color:#c1c1c1;
 	text-decoration:none;
	text-align:center;
	}	
	
a:hover.lnk_topo {
text-decoration:underline;
}	

a:hover.lnk_topo_suporte {
text-decoration:underline;
}	
	

.topo {
  width:800;
	text-align:center;
	/**background-color:#000000;**/
	border: solid 1px #666;
	}

.baixo {
  font-size:11px;
	width:780;
	text-align:center;
	font-style:italic;
	background-color:#900000;
	color:#ffffff;
	padding-top:7px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:7px;
	border:solid 1px #000000;
	valign:top;
}
	
.tab_txt{
background-image: url("imagens/fundotab.gif");
	}

.ajudas
{
position:relative;
left:120;
width:400px;
}

.direita
{
position:relative;
width:250px;
margin-left:350px;
float: right;
}

.esquerda
{

left:110;
width:290px;
float: left;
}
